/**
 * Gruvbox dark theme
 *
 * Adapted from a theme based on:
 * Vim Gruvbox dark Theme (https://github.com/morhetz/gruvbox)
 *
 * @author Azat S. <to@azat.io>
 * @version 1.0
 *
 * Scoped to .prism-dark parent for theme switching
 */

.prism-dark code[class*="language-"],
.prism-dark pre[class*="language-"] {
	color: #ebdbb2; /* fg1 / fg */
	font-family: Consolas, Monaco, "Andale Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.prism-dark pre[class*="language-"]::-moz-selection,
.prism-dark pre[class*="language-"] ::-moz-selection,
.prism-dark code[class*="language-"]::-moz-selection,
.prism-dark code[class*="language-"] ::-moz-selection {
	color: #fbf1c7; /* fg0 */
	background: #7c6f64; /* bg4 */
}

.prism-dark pre[class*="language-"]::selection,
.prism-dark pre[class*="language-"] ::selection,
.prism-dark code[class*="language-"]::selection,
.prism-dark code[class*="language-"] ::selection {
	color: #fbf1c7; /* fg0 */
	background: #7c6f64; /* bg4 */
}

/* Code blocks */
.prism-dark pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

.prism-dark :not(pre) > code[class*="language-"],
.prism-dark pre[class*="language-"] {
	background: #1d2021; /* bg0_h */
}

/* Inline code */
.prism-dark :not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.prism-dark .token.comment,
.prism-dark .token.prolog,
.prism-dark .token.cdata {
	color: #a89984; /* fg4 / gray1 */
}

.prism-dark .token.delimiter,
.prism-dark .token.boolean,
.prism-dark .token.keyword,
.prism-dark .token.selector,
.prism-dark .token.important,
.prism-dark .token.atrule {
	color: #fb4934; /* red2 */
}

.prism-dark .token.operator,
.prism-dark .token.punctuation,
.prism-dark .token.attr-name {
	color: #a89984; /* fg4 / gray1 */
}

.prism-dark .token.tag,
.prism-dark .token.tag .punctuation,
.prism-dark .token.doctype,
.prism-dark .token.builtin {
	color: #fabd2f; /* yellow2 */
}

.prism-dark .token.entity,
.prism-dark .token.number,
.prism-dark .token.symbol {
	color: #d3869b; /* purple2 */
}

.prism-dark .token.property,
.prism-dark .token.constant,
.prism-dark .token.variable {
	color: #fb4934; /* red2 */
}

.prism-dark .token.string,
.prism-dark .token.char {
	color: #b8bb26; /* green2 */
}

.prism-dark .token.attr-value,
.prism-dark .token.attr-value .punctuation {
	color: #a89984; /* fg4 / gray1 */
}

.prism-dark .token.url {
	color: #b8bb26; /* green2 */
	text-decoration: underline;
}

.prism-dark .token.function {
	color: #fabd2f; /* yellow2 */
}

.prism-dark .token.regex {
	background: #b8bb26; /* green2 */
}

.prism-dark .token.bold {
	font-weight: bold;
}

.prism-dark .token.italic {
	font-style: italic;
}

.prism-dark .token.inserted {
	background: #a89984; /* fg4 / gray1 */
}

.prism-dark .token.deleted {
	background: #fb4934; /* red2 */
}

/* prism-react-editor caret styling */
.prism-dark .prism-code-editor textarea {
	caret-color: #ebdbb2 !important; /* fg1 / fg - light caret on dark bg */
}

.prism-dark .prism-code-editor {
	background: #1d2021 !important; /* bg0_h */
}
