/**
 * Gruvbox light theme
 *
 * Based on Gruvbox: https://github.com/morhetz/gruvbox
 * Adapted from PrismJS gruvbox-dark theme
 *
 * @author Michael Schnerring (https://schnerring.net)
 * @version 1.0
 *
 * Scoped to .prism-light parent for theme switching
 */

.prism-light code[class*="language-"],
.prism-light pre[class*="language-"] {
	color: #3c3836; /* fg1 / fg */
	font-family: Consolas, Monaco, "Andale Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.prism-light pre[class*="language-"]::-moz-selection,
.prism-light pre[class*="language-"] ::-moz-selection,
.prism-light code[class*="language-"]::-moz-selection,
.prism-light code[class*="language-"] ::-moz-selection {
	color: #282828; /* fg0 */
	background: #a89984; /* bg4 */
}

.prism-light pre[class*="language-"]::selection,
.prism-light pre[class*="language-"] ::selection,
.prism-light code[class*="language-"]::selection,
.prism-light code[class*="language-"] ::selection {
	color: #282828; /* fg0 */
	background: #a89984; /* bg4 */
}

/* Code blocks */
.prism-light pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

.prism-light :not(pre) > code[class*="language-"],
.prism-light pre[class*="language-"] {
	background: #f9f5d7; /* bg0_h */
}

/* Inline code */
.prism-light :not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.prism-light .token.comment,
.prism-light .token.prolog,
.prism-light .token.cdata {
	color: #7c6f64; /* fg4 / gray1 */
}

.prism-light .token.delimiter,
.prism-light .token.boolean,
.prism-light .token.keyword,
.prism-light .token.selector,
.prism-light .token.important,
.prism-light .token.atrule {
	color: #9d0006; /* red2 */
}

.prism-light .token.operator,
.prism-light .token.punctuation,
.prism-light .token.attr-name {
	color: #7c6f64; /* fg4 / gray1 */
}

.prism-light .token.tag,
.prism-light .token.tag .punctuation,
.prism-light .token.doctype,
.prism-light .token.builtin {
	color: #b57614; /* yellow2 */
}

.prism-light .token.entity,
.prism-light .token.number,
.prism-light .token.symbol {
	color: #8f3f71; /* purple2 */
}

.prism-light .token.property,
.prism-light .token.constant,
.prism-light .token.variable {
	color: #9d0006; /* red2 */
}

.prism-light .token.string,
.prism-light .token.char {
	color: #797403; /* green2 */
}

.prism-light .token.attr-value,
.prism-light .token.attr-value .punctuation {
	color: #7c6f64; /* fg4 / gray1 */
}

.prism-light .token.url {
	color: #797403; /* green2 */
	text-decoration: underline;
}

.prism-light .token.function {
	color: #b57614; /* yellow2 */
}

.prism-light .token.regex {
	background: #797403; /* green2 */
}

.prism-light .token.bold {
	font-weight: bold;
}

.prism-light .token.italic {
	font-style: italic;
}

.prism-light .token.inserted {
	background: #7c6f64; /* fg4 / gray1 */
}

.prism-light .token.deleted {
	background: #9d0006; /* red2 */
}

/* prism-react-editor caret styling */
.prism-light .prism-code-editor textarea {
	caret-color: #3c3836 !important; /* fg1 / fg - dark caret on light bg */
}

.prism-light .prism-code-editor {
	background: #fbf1c7 !important; /* bg0 */
}
